@import url(colors-dark.css);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--nord1);
    color: var(--nord5);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
  color: var(--nord7);
}

h1, h2, h3, strong {
  color: var(--nord6);
}

header {
    background-color: var(--nord0);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

header h1 {
    font-size: 2rem;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    color: var(--nord6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 900;
}

header nav ul li a:hover {
    color: #f1f1f1;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.blogs {
    display: grid;
    place-items: center;
    width: 100%;
}

.blogs input {
    background-color: var(--nord0);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 55%;
    color: var(--nord6);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    margin-top: 100px;
}

.blogs section {
    background-color: var(--nord0);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    margin-top: 50px;
}

.blogs section:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.blogs a {
    text-decoration: none;
}

.blogs input:focus {
    border: none;
}

footer {
    background-color: var(--nord0);
    padding: 1rem;
    text-align: center;
}

#logo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 5px;
}

#logo-area {
  display: flex;
  align-items: center;
}